.navegacion {
  display: flex;
  flex-wrap: wrap;
  /* background-color: black; */
  background: url('https://cdn.arrivocycling.com/arrivo/product/6368ea4225321549ab41438c/photospano/0/img/banner%202.jpeg');
  height: 400px;
  padding-top: 20px;
  justify-content: space-between;
}

.logonavbar img {
height: 150px;
margin-top: auto;
padding-right: 1000px;
padding-left: 10px;

}
.material-symbols-outlined{
color: white;
justify-content:space-around;
padding: 10px;
}
p {
color: white;
font-size: 20px;
font-weight: bold;
text-align: center;

}
.greet{
  display: flex;
  color: rgb(200, 70, 34);
  text-align: center;
  margin: auto;
  justify-content: space-around;
  font-size: 50px;

}

